
h1,h2,h3 {
  margin: 0;
}
a,h1,h2,h3{
  text-decoration: none;
  color: #fff;
}

.app-wrapper {
  display:flex;
  flex-flow: column ;
  height: 100vh;
  justify-content: space-between;
}
.page-aside-wrapper{
  
  display:  flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.page-wrapper {
  
  width:  76%;
  height: 480px;
  margin-left: 15px;
  background-color: #659DBD;
  border-radius: 10px;
  border: 2px solid #DAAD86;
}

.aside-wrapper {
  width: 20%;
  margin-right: 13px;
  background-color: #659DBD;
  border-radius: 10px;
  border: 2px solid #DAAD86;
 
}
.footer {
  background-color: #659DBD;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
