@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu+2|Roboto&display=swap');

* {
  box-sizing: border-box;
}
html {
  font-family:  'Roboto', Arial, Helvetica, sans-serif;
}
body {
  margin:0;
}
