.weather-info-wrapper{
    width: 90%;
    height: 315px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
.weather-info-wrapper img {
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    margin: 15px 7px;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 20px;

}

.weather-info-wrapper p {
    color: #fff;
}
.city-time-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.city-time-wrapper h2 {
    margin-top: 7px;
}

.display-info-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}
.diagnostic-wrapper {
    width:  40%;
    position: relative;
    bottom: 12px;
}
.diagnostic-wrapper p {
    position: relative;
    left: 40px;
}
.img-descript-wrapper{
    width: 40%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    position: relative;
    left: 15px;
}
.img-descript-wrapper p {
    margin: 0;
    position: relative;
    top: 50px;
    font-size: 22px;
}