.weather-info-wrapper{
    width: 90%;
    height: 315px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.weather-info-wrapper img {
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    margin: 5px 7px;
    width: 100px;
    height: 100px;
}

.weather-info-wrapper p {
    color: #fff;
    margin-left:10px;
}
.img-descript-wrapper{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.img-descript-wrapper p {
    margin: 0;
    position: relative;
    top: 40px;
    margin-left: 20px;
    font-size: 20px;
}